/* Navbar.module.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    color: black;
}

.navlinks {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white; /* Set background color to white */
    padding: 10px 0; /* Optional: Add padding for better visual appearance */
}

.navlink {
    margin: 0 15px;
    font-size: 18px;
    color: black; /* Set the text color to black */
}

/* Optional: Add hover effect for links */
.navlink:hover {
    text-decoration: underline;
}
